
    <div class="about">
        <div class="profilepic">
            <img width="330px" height="330px" class="animatespin profilepicture" src="download.png" alt="profilepicture">
        </div>
        <div class="aboutext">
        </div>
    </div>
    