 <div class="content">
        <div class="dev name animated fadeInDown">
            <span style="color:#e8c0ff;" class="transparent animateupdown">D</span>
            <span style="color:#3db161;" class="transparent animateupdown">E</span>
            <span style="color:#f0532c;" class="transparent animateupdown">V</span>
        </div>
        <div class="ibrahim name animated fadeInUp">
            <span style="color:#fd3;" class=" transparent animateupdown">I</span>
            <span style="color:#FF00FF;" class=" transparent animateupdown">B</span>
            <span style="color:#000080;" class=" transparent animateupdown">R</span>
            <span style="color:#008080;" class=" transparent animateupdown">A</span>
            <span style="color:#00FFFF;" class=" transparent animateupdown">H</span>
            <span style="color:#808000;" class=" transparent animateupdown">I</span>
            <span style="color:#bd9986;" class=" transparent animateupdown">M</span>
        </div>

        <div class="intro">
            <p>I really like writing code.</p>
            <p>Especially in C# and JavaScript.</p>
            <p>(click anywhere to intract)</p>
        </div>

    </div>