<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ibro.dev</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
        <div class="navbar">
                <nav>
                        <ul class="topnav">
                            <li>
                                <a class="active" href="./index">Home</a>
                            </li>
                            <li>
                                <a href="./about">About</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                            <li>
                                <a href="#">Talks</a>
                            </li>
                            <li>
                                <a href="./contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    <canvas  id="draw">
        </canvas>

    {{{body}}}


   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="/javascripts/application.js"></script>
</body>

</html>